* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    background-color: #c7fff6;
    background-image: url("https://www.transparenttextures.com/patterns/candyhole.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }
  
  header {
    background-color: #3ff8e9;
    position: fixed;
    width: 100%;
    margin: auto ;
    padding: 0px 5px 4px 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
     box-shadow: 0 1px 10px rgb(24, 165, 184)
    
  }
  
  header li {
    display: inline;
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
 
  }
  
  
  footer {
    
    margin-bottom: 15px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  ul {
    list-style-type: none;
   margin-right: 150px;
   padding: 15px;
   text-align: right;
  }

  .linav{
    display: inline-block;
    margin: 0px 15px;
  
  
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: absolute;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  .notesAreaDiv{
    text-align: center;
    margin-top: 30px;
  }
  form.create-note {
    position: relative;
    width: 480px;
    margin: 0 auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-note button {
    bottom: -30px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    margin-left: 15px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  
  .Micon{
    color:#00daf7;
  }
  .clockArea{
    position: relative;
    width: 480px;
    text-align: center;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 10px rgb(90, 182, 194);
  }
  .inputeArea{
    position: relative;
    width: 480px;
    text-align: center;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 10px rgb(24, 165, 184);
  }

  .inputeplace{
    position: relative;
    width: 450px;
    margin: 30px auto 5px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 0px 0px rgb(32, 165, 165);
  }

 
  img{
    width: 50px;
    height: 50px;
    margin: 0;
    padding-bottom: 0;
    
    display: inline-block;
  }
  .addPara{
    
    color: wheat;
    text-align: center;
  }
 .logimag{
   width: 40px;
   height: 40px;
   margin-left: 40px;
   margin-top : 0px;
   float: left;
   box-shadow: black;
   border: solid transparent;
   border-radius: 50%;
   border-width: 2px;
   background: linear-gradient(180deg,#ffffff 1%, #ffffff 200% );
   
 }

 

  .notesAreaDiv{
    align-items: center;
  }

  .poductList{
    display: inline-block;
    padding-top: 5px;
    margin: 0 20px;
  }

  .fabarea{
    margin-left: 10px;
    color: black;

  }


  /* home section  */
  .banner{
    background : white;
    width: 100%;
    height: 500px;
    background:#3ff8e9;
    padding: 15px;
   
    text-align: center;
  }
  .banner h1{
    color: white;
    font-size: 450%;
    margin-top: 10%;
    
  }

  .banner button{
    border-radius: 5px;
      background: transparent;
    color: white;
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
     outline: none
    
  }
  .banner button:hover{
    
    background: white;
    border: solid12px  white;
    color: #3ff8e9;
  }
  .productInfo{
    background : white;
    width: 100%;
    height: auto;
    padding: 70px;
  }
  .productInfo h3{
    font-family: 'cursive';
   color: rgb(2, 28, 103);
   font-size: 22px;
  }
  .productInfo p{
    padding : 3px 0 10px 0;
  }
